<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"/>
    <title>Home</title>
</head>
<body>
<h2>Coach</h2>
<p>sign up</p>
<a href="/index">123456</a>
<form action="/coach_signup" method="post">
    <span>username</span><input type="text" name="username" value=""/>
    <span>password</span><input type="password" name="password" value=""/>
    <span>mobilenum</span><input type="text" name="mobileNum" value=""/>
    <span>address</span><input type="text" name="address" value=""/>
    <input type="submit"/>
</form>
<p>sign in</p>
<!--<form action="/coach_signin" method="POST">
    <span>username</span><input type="text" name="username" value=""/>
    <span>password</span><input type="password" name="password" value=""/>
    <input type="submit"/>
</form>

<h2>Customer</h2>
<form action="/customer_signup" method="POST">
    <span>username</span><input type="text" name="username" value=""/>
    <span>password</span><input type="password" name="password" value=""/>
    <span>mobilenum</span><input type="text" name="mobileNum" value=""/>
    <span>address</span><input type="text" name="address" value=""/>
    <input type="submit"/>
</form>
<p>sign in</p>
<form action="/coach_signin">
    <span>username</span><input type="text" name="username" value=""/>
    <span>password</span><input type="password" name="password" value=""/>
    <input type="submit"/>
</form>-->
</body>
</html>
