<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>重置密码</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <form action="/signin" method="POST">
        <p>用户名</p>
        <input type="button" name="username" value="" />
        <p>请输入新密码</p>
        <input type="text" name="password" value=""/>
        <p>再次输入新密码</p>
        <input type="text" name="password" value=""/>
        <br/>
        <br/>
        <input type="submit" value="完成"/>
        <br/>
        <br/>
    </form>
</body>
</html>